

<div class="container">
    <ul class="list-group list-group-flush mt-5">
        <li class="list-group-item">Argumentos de entrada: <span class="badge badge-primary text-wrap">{{datos.argumentos}}</span> </li>
        <li class="list-group-item">Nombre de la plataforma: <span class="badge badge-primary text-wrap">{{datos.plataforma}}</span> </li>
        <li class="list-group-item">Versión de Node: <span class="badge badge-primary text-wrap">{{datos.nodeVersion}}</span> </li>
        <li class="list-group-item">Uso de memoria: <span class="badge badge-primary text-wrap">{{datos.memoriaUso}}</span> </li>
        <li class="list-group-item">Path de ejecución: <span class="badge badge-primary text-wrap">{{datos.path}}</span> </li>
        <li class="list-group-item">Process id: <span class="badge badge-primary text-wrap">{{datos.pid}}</span> </li>
        <li class="list-group-item">Carpeta corriente: <span class="badge badge-primary text-wrap">{{datos.carpeta}}</span> </li>
    </ul>
    <div class="mt-2">
        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="alert"onclick="location.href=`{{btnAction}}`">VOLVER</button>
    </div>
</div>